
:root {
    --blog-background: #212529;
    --blog-on-background: #ffffff;
}

.blog-background {
    background-color: var(--blog-background);
    color: var(--blog-on-background);
}

.blog-profile-background {
    background: url(../images/PolyBackground.png);
    background-size: cover;
}

.blog-latest-update-card-content {
    opacity: 0.9;
    margin: -1px;
}