@page "/"

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-stretch py-3 py-xl-4">
                <Blazor.Dev.Blog.Components.ProfileCard ProfileJsonPath="CameronTaylor.json"/>
            </div>
            <div class="col-md-8 d-flex align-items-stretch py-3 py-xl-4">
                <Blazor.Dev.Blog.Components.LatestUpdateCard/>
            </div>
        </div>

        <div class="row py-3 py-xl-4">
            <div class="col-md-12">
                <div class="card bg-dark shadow-sm">
                    <h5 class="card-header">Whats New?</h5>
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>