@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <img src="images/MarchShield.png" height="38" class="rounded shadow mr-2" />

            <a class="navbar-brand" href="#">Dev Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon" />
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control mr-2 blog-background" type="search" placeholder="Search" @bind-value="@searchTerms" @bind-value:event="oninput" @onkeydown="Keypress"/>
                    <a href="search/@searchTerms" class="btn btn-success my-2 my-lg-0">Search</a>
                </form>
            </div>
        </nav>
    </header>

    <div>
        @Body
    </div>
</div>

@code  {
    private string searchTerms;

    private void Keypress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            NavigationManager.NavigateTo(string.Format("search/{0}", searchTerms), true);
    }
}
