
:root {
    --blog-background: #212529;
    --blog-on-background: #ffffff;
    --blog-mid-background: #292E33;
    --blog-on-mid-background: #ffffff;

    --blog-code: #01D8FE;
}

.blog-background {
    background-color: var(--blog-background);
    color: var(--blog-on-background);
}

.blog-mid-background {
    background-color: var(--blog-mid-background);
    color: var(--blog-on-mid-background);
}

.blog-geometric-background {
    background: url(../images/PolyBackground.png);
    background-size: cover;
}

.blog-geometric-background-gray {
    background: url(../images/PolyBackgroundGray.png);
    background-size: cover;
}

.blog-latest-update-card-content {
    opacity: 0.9;
    margin: -1px;
}

.blog-category-img {
    object-fit: cover;
}

pre code {
    color: var(--blog-code);
}